body {
    margin: 50px;
    background-color: #9e5a00;
}

.container {
    border: solid 1px #000000;
    background-color: #ffffff;
}

.jumbotron {
    margin-top: 15px;
    background-color: #055fc5;
    color: #ffffff;
}

.btn {
    margin-bottom: 15px;
}
